*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(250, 244, 236, 0.8);
}
.nav{
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: white;
}
.nav img{
    margin-left: 30px;
    height: 40px;
    width: 40px;
    font-weight: 800;
}
.nav a{
    color: white;
    text-decoration: none;
    padding: 40px;
}
.home{
    margin-left: 60px;
}
.container{
    padding: 20px 20px;
    color: white;
    height: 70vh;
    width: 80vw;
    margin-top: 30px; 
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 20px 120px;
    border-radius: 15px;
}

.mainlist{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px 30px;
    height: 50vh;
    width: fit-content;
    background-color: rgba(0, 255, 255, 0);
    
}
.list{
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 0px;
    margin: 5px 0px;
   
}
.list img{
    height: 30px;
    border-radius: 10px;
    margin-left: 10px;
   
}
.listcontent span:nth-child(1){
    padding: 0px 15px;
}
.listcontent span:nth-child(2){
    padding:0px 40px;
}
.listcontent i{
    padding-right: 10px;
    cursor: pointer;
}

header{
    height: 10vh;
    width: 100%;
}
.footer input[type="range"]{
    width: 80vw;
    cursor: pointer;
}
.footer{
    position: sticky;
    background-color: black;
    height: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    cursor: pointer;
    padding: 8px 10px;
}

.gif{
    opacity: 0;
    transition: opacity 1s ease-in; 
    top: 30px;
    position: absolute;
    left: 150px;
    height: 40px;
}





